{% for article in articles %}

    <article>
        <div class="title">
            <h2>
                {{ article.titre }}
            </h2>
        </div>

        <div class="date">
            publié le
            <i>
                {{ article.date|date("d/m/Y") }}
            </i>
        </div>

        <div class="author">
            par {{ article.auteur }}
        </div>

        <div class="image-container">
            <img src="{{ article.image }}">
        </div>

        <div class="content">
            {{ article.contenu }}
        </div>

        <div class="link"><a href="articles/{{ article.id }}">Lire en entier</a></div>

        {% if article.tags is not null %}
        <div class="tags-container">
            <ul class="tags">
                {% for tag in article.tags %}
                    <li class="tag">
                        {{ tag.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </article>
{% endfor %}




